<div class="container">
    <h1>SpaceX Launch Program</h1>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="filter-button-container">
                    <h4>Filters</h4>
                    <p>Launch Year</p>
                    <hr>
                    <button *ngFor="let year of years"
                        [ngClass]="currentYear === year ? 'btn btn-success' : 'btn btn-default'" type="button"
                        (click)="filterYear(year)"> {{year}}</button>

                    <p>Successful Launch</p>
                    <hr>

                    <button
                        [ngClass]="(currentLaunchFilter && launchFilterApplied) ? 'btn btn-success': 'btn btn-default'"
                        value="true" type="button" (click)="filterSuccessfulLaunch(true)">True</button>
                    <button
                        [ngClass]="(!currentLaunchFilter && launchFilterApplied) ? 'btn btn-success': 'btn btn-default'"
                        value="true" type="button" value="false" type="button"
                        (click)="filterSuccessfulLaunch(false)">False</button>


                    <p>Successful Landing</p>
                    <hr>

                    <button
                        [ngClass]="(currentLandingFilter && landingFilterApplied) ? 'btn btn-success': 'btn btn-default'"
                        value="true" type="button" (click)="filterSuccessfulLanding(true)">True</button>
                    <button
                        [ngClass]="(!currentLandingFilter && landingFilterApplied) ? 'btn btn-success': 'btn btn-default'"
                        value="false" type="button" (click)="filterSuccessfulLanding(false)">False</button>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="col-launch">
                <app-display [currentLaunches]=currentLaunches></app-display>
            </div>
        </div>
    </div>
</div>