.container {
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 0;
  margin-left: 0;
  display: inline-block;
}

.filter-button-container {
  background-color: white;
  display: inline;
}

.button-active {
  color: white;
  border-color: #28a745;
  background-color: green;
  border-radius: 8px;
  width: 35%;
  margin: 4px 4px;
  text-align: center;
  white-space: nowrap;
  align-items: center;
  margin-right: 8px;
}

.btn-default {
  color: black;
  border-color: #28a745;
  background-color: hsl(120, 60%, 80%);
  border-radius: 8px;
  padding: 8px;
  width: 35%;
  white-space: nowrap;
  margin: 4px 4px;
  text-align: center;
  align-items: center;
}

.btn-success {
  color: black;
  border-color: #28a745;
  background-color: green;
  border-radius: 8px;
  white-space: nowrap;
  width: 35%;
  margin: 4px 4px;
  text-align: center;
}

.btn-default:hover {
  background-color: darkgreen;
  border-color: black;
  color: white;
  transition: 0.3s;
}
